.sidebar {
  background-color: #f4f4f4;
  width: 200px;
  padding: 20px;
  height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
  cursor: pointer;
}

.sidebar ul li:hover {
  color: #4caf50;
  font-weight: bold;
}